.vscode/**
.vscode-test/**
.claude/**
.github/**
.ldf/**
src/**
src/test/**
out/test/**
node_modules/**
tsconfig.test.json
*.vsix
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
